html{
    width:300px;
    height: 500px;
    scrollbar-width: none;
}
body{
    font-family: sans-serif;
    width:300px;
    height: 300px;
    background-color: #17181c;
    
}

#title{
    width: 100%;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    background-color: #17181c;
}
#line{
	width:80%
}
#bodyPart{
    text-align: center;
    border-color: #2762f3;;
    background-color: #17181c;;
    height: 100%;
}

.text{
	padding: 10px;
	font-family: sans-serif;
    color: white;
}
.textinfo{
	font-style: italic;
}

.results{
	height: 200px;
	position: fixed;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	margin-bottom: 5px;
	color: white;
	text-align: center;
  }

  

  
  