html{
    width:300px;
    height: 500px;
    scrollbar-width: none;
}
body{
    font-family: sans-serif;
    width:300px;
    height: 300px;
    background-color: #17181c;
    
}

#title{
    width: 100%;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}
#line{
	width:80%
}
#bodyPart{
    text-align: center;
    border-color: #2762f3;;
    height: 100%;
}

.text{
	padding: 10px;
	font-family: sans-serif;
    color: white;
}
.textinfo{
	font-style: italic;
}

.btn{
	position: relative;
	padding: 2px;
	height: 20px;
	color: #ffffff;
}


.results{
	height: 100px;
	position: relative;
	padding: 10px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	margin-bottom: 5px;
	color: white;
	text-align: center;
  }

  /* Style the search field */
form.example input[type=text] {
	padding: 10px;
	font-size: 15px;
	position: relative;
	border: 1px solid grey;
	align-self: center;
	width: 70%;
	color: black;
	background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
	width: 18%;
	position: relative;
	padding: 10px;
	background: #2196F3;
	color: white !important;
	font-size: 15px;
	border: 1px solid grey;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
  }
  
  form.example button:hover {
	background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
	content: "";
	clear: both;
	display: table;
  }
  .back-btn{  
	  position: relative;
	  background-color: transparent;
	  border: none;
	  color: #fff;
  }
  .back-btn:hover{
	  color: white;
	  border: #f1f1f1;
	  border-style: solid;
	  border-width: 1px;
  }
  .blink-bg-green{
	color: #fff;
	padding: 10px;
	display: inline-block;
	border-radius: 5px;
	animation: blinkingBackground 6s reverse;
}
@keyframes blinkingBackground{
	0%		{ background-color: #17181c;}
	25%		{ background-color: lightgreen;}
	50%		{ background-color: limegreen;}
	75%		{ background-color: lime;}
	100%	        { background-color: #17181c}
}
.blink-bg-red{
	color: #fff;
	padding: 10px;
	display: inline-block;
	border-radius: 5px;
	animation: blinkingBackgroundred 6s reverse;
}
@keyframes blinkingBackgroundred{
	0%		{ background-color: #17181c;}
	25%		{ background-color: #D22B2B;}
	50%		{ background-color: red;}
	75%		{ background-color: #D22B2B;}
	100%	        { background-color: #17181c}
}
.blink-bg-yellow{
	color: #fff;
	padding: 10px;
	display: inline-block;
	border-radius: 5px;
	animation: blinkingBackgroundyellow 6s reverse;
}
@keyframes blinkingBackgroundyellow{
	0%		{ background-color: #17181c;}
	25%		{ background-color: #efcc00;}
	50%		{ background-color: #fff000;}
	75%		{ background-color: #fff000;}
	100%	        { background-color: #17181c}
}
*.hidden {
	display: none !important;
  }
  
  div.loading{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(16, 16, 16, 0.5);
  }
  
  @-webkit-keyframes uil-ring-anim {
	0% {
	  -ms-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -ms-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @-webkit-keyframes uil-ring-anim {
	0% {
	  -ms-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -ms-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @-moz-keyframes uil-ring-anim {
	0% {
	  -ms-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -ms-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @-ms-keyframes uil-ring-anim {
	0% {
	  -ms-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -ms-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @-moz-keyframes uil-ring-anim {
	0% {
	  -ms-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -ms-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @-webkit-keyframes uil-ring-anim {
	0% {
	  -ms-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -ms-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @-o-keyframes uil-ring-anim {
	0% {
	  -ms-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -ms-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @keyframes uil-ring-anim {
	0% {
	  -ms-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -ms-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  .uil-ring-css {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 200px;
  }
  .uil-ring-css > div {
	position: absolute;
	display: block;
	width: 160px;
	height: 160px;
	top: 20px;
	left: 20px;
	border-radius: 80px;
	box-shadow: 0 6px 0 0 #ffffff;
	-ms-animation: uil-ring-anim 1s linear infinite;
	-moz-animation: uil-ring-anim 1s linear infinite;
	-webkit-animation: uil-ring-anim 1s linear infinite;
	-o-animation: uil-ring-anim 1s linear infinite;
	animation: uil-ring-anim 1s linear infinite;
  }